<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <head th:include="commom::title('首页')"></head>
    <style>
        .top-panel {
            border: 1px solid #eceff9;
            border-radius: 5px;
            text-align: center;
        }
        .top-panel > .layui-card-body{
            height: 60px;
        }
        .top-panel-number{
            line-height:60px;
            font-size: 30px;
            border-right:1px solid #eceff9;
        }
        .top-panel-tips{
            line-height:30px;
            font-size: 12px
        }
    </style>

</head>
<body>
<!--按照
https://getbootstrap.com/docs/5.3/examples/offcanvas-navbar/
更改
-->
<div class="layuimini-main">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-xs12 layui-col-md12">
            <div class="layui-card top-panel">
                <div class="layui-card-header top-panel-number">当前时间</div>
                <div class="layui-card-body">
                    <div class="layui-row ">
                        <div class="top-panel-number" id="datetime">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                缴费提醒⏰
            </div>
            <div class="card-body">
                <blockquote class="blockquote mb-0">
                    <p>A well-known quote, contained in a blockquote element.</p>
                    <br>
                    <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
                </blockquote>
            </div>
        </div>

    </div>



    <div class="layui-row layui-col-space15">
        <div class="layui-col-xs12 layui-col-md9">
            <div id="echarts-records" style="background-color:#ffffff;min-height:400px;padding: 10px"></div>
        </div>

        <div class="layui-col-xs12 layui-col-md3">
            <div id="echarts-pies" style="background-color:#ffffff;min-height:400px;padding: 10px"></div>
        </div>
    </div>



</div>

<script th:src="@{/static/lib/layui-v2.5.5/layui.js}" charset="utf-8"></script>
<script th:src="@{/static/js/lay-config.js(v=1.0.4)}" charset="utf-8"></script>
<script>
    setInterval("document.getElementById('datetime').innerHTML=new Date().toLocaleString();", 1000);
    layui.use(['layer', 'echarts'], function () {
        const $ = layui.jquery,
            layer = layui.layer,
            echarts = layui.echarts;

        /**
         * 报表功能
         */
        var echartsRecords = echarts.init(document.getElementById('echarts-records'), 'walden');

        var optionRecords = {
            title: {
                text: '养老院数据'
            },
            tooltip: {
                trigger: 'axis',
                axisPointer: {
                    type: 'cross',
                    label: {
                        backgroundColor: '#1d8884'
                    }
                }
            },
            legend: {
                data: ['床位已使用', '空床位', '入院老人数量', '出院老人数量', '入职员工数量']
            },
            toolbox: {
                feature: {
                    saveAsImage: {}
                }
            },
            grid: {
                left: '3%',
                right: '4%',
                bottom: '3%',
                containLabel: true
            },
            xAxis: [
                {
                    type: 'category',
                    boundaryGap: false,
                    data: ['周一', '周二', '周三', '周四', '周五', '周六', '周日']
                }
            ],
            yAxis: [
                {
                    type: 'value'
                }
            ],
            series: [
                {
                    name: '床位已使用',
                    type: 'line',
                    stack: '总量',
                    areaStyle: {},
                    data: [100, 152, 101, 114, 90, 230, 210]
                },
                {
                    name: '空床位',
                    type: 'line',
                    areaStyle: {},
                    data: [600, 300, 220, 234, 290, 330, 310]
                },
                {
                    name: '入院老人数量',
                    type: 'line',
                    stack: '总量',
                    areaStyle: {},
                    data: [650, 232, 201, 154, 190, 330, 410]
                },
                {
                    name: '出院老人数量',
                    type: 'line',
                    stack: '总量',
                    areaStyle: {},
                    data: [300, 200, 250, 334, 390, 350, 250]
                },
                {
                    name: '入职员工数量',
                    type: 'line',
                    stack: '总量',
                    label: {
                        normal: {
                            show: true,
                            position: 'top'
                        }
                    },
                    areaStyle: {},
                    data: [350, 450, 750, 800, 1290, 1330, 1320]
                }
            ]
        };
        echartsRecords.setOption(optionRecords);


        /**
         * 玫瑰图表
         */
        var echartsPies = echarts.init(document.getElementById('echarts-pies'), 'walden');
        var optionPies = {
            title: {
                text: '养老院数据',
                left: 'center'
            },
            tooltip: {
                trigger: 'item',
                formatter: '{a} <br/>{b} : {c} ({d}%)'
            },
            legend: {
                orient: 'vertical',
                left: 'left',
                data: ['床位已使用', '空床位', '入院老人数量', '出院老人数量', '入职员工数量']
            },
            series: [
                {
                    name: '数据来源',
                    type: 'pie',
                    radius: '55%',
                    center: ['50%', '60%'],
                    roseType: 'radius',
                    data: [
                        {value: 350, name: '床位已使用'},
                        {value: 200, name: '空床位'},
                        {value: 180, name: '入院老人数量'},
                        {value: 135, name: '出院老人数量'},
                        {value: 500, name: '入职员工数量'}
                    ],
                    emphasis: {
                        itemStyle: {
                            shadowBlur: 10,
                            shadowOffsetX: 0,
                            shadowColor: 'rgba(0, 0, 0, 0.5)'
                        }
                    }
                }
            ]
        };
        echartsPies.setOption(optionPies);

        // echarts 窗口缩放自适应
        window.onresize = function () {
            echartsRecords.resize();
        }

    });
</script>
</body>
</html>
