<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" th:href="@{/static/css/bootstrap.min.css}" media="all">
    <script th:href="@{/static/js/bootstrap.min.js}" media="all"></script>
    <head th:include="commom::title('首页')"></head>
    <style>
        .top-panel > .layui-card-body{
            height: 60px;
        }
    </style>
</head>
<body>
<div class="">
    <div class="layui-col-md12">
        <div class="layui-card">
            <div class="layui-card-header">
                <strong style="font-size: 18px;">缴费提醒⏰</strong>
            </div>
            <div class="layui-card-body">
                <div class="alert alert-light" role="alert">
                    没有用户需要提醒缴费
                </div>
                <div class="alert alert-warning" role="alert">
                    需要提醒 <strong>张三</strong> 缴费
                </div>
            </div>
        </div>
    </div>

    <br>

    <div class="layui-row layui-col-space15">
        <div class="layui-col-xs12 layui-col-md12">
            <div id="echarts-records" style="background-color:#ffffff;min-height:400px;padding: 10px"></div>
        </div>

        <br>
        <br>

        <div class="layui-col-xs12 layui-col-md12">
            <div id="echarts-pies" style="background-color:#ffffff;min-height:400px;padding: 10px"></div>
        </div>
    </div>



<script th:src="@{/static/lib/layui-v2.5.5/layui.js}" charset="utf-8"></script>
<script th:src="@{/static/js/lay-config.js(v=1.0.4)}" charset="utf-8"></script>
<script>
    layui.use(['layer', 'echarts'], function () {
        const $ = layui.jquery,
            layer = layui.layer,
            echarts = layui.echarts;

        /**
         * 报表功能
         */
        var echartsRecords = echarts.init(document.getElementById('echarts-records'), 'walden');

        var optionRecords = {
            title: {
                text: '养老院数据'
            },
            tooltip: {
                trigger: 'axis',
                axisPointer: {
                    type: 'cross',
                    label: {
                        backgroundColor: '#1d8884'
                    }
                }
            },
            legend: {
                data: ['床位已使用', '空床位', '入院老人数量', '出院老人数量', '入职员工数量']
            },
            toolbox: {
                feature: {
                    saveAsImage: {}
                }
            },
            grid: {
                left: '3%',
                right: '4%',
                bottom: '3%',
                containLabel: true
            },
            xAxis: [
                {
                    type: 'category',
                    boundaryGap: false,
                    data: ['周一', '周二', '周三', '周四', '周五', '周六', '周日']
                }
            ],
            yAxis: [
                {
                    type: 'value'
                }
            ],
            series: [
                {
                    name: '床位已使用',
                    type: 'line',
                    stack: '总量',
                    areaStyle: {},
                    data: [100, 152, 101, 114, 90, 230, 210]
                },
                {
                    name: '空床位',
                    type: 'line',
                    areaStyle: {},
                    data: [600, 300, 220, 234, 290, 330, 310]
                },
                {
                    name: '入院老人数量',
                    type: 'line',
                    stack: '总量',
                    areaStyle: {},
                    data: [650, 232, 201, 154, 190, 330, 410]
                },
                {
                    name: '出院老人数量',
                    type: 'line',
                    stack: '总量',
                    areaStyle: {},
                    data: [300, 200, 250, 334, 390, 350, 250]
                },
                {
                    name: '入职员工数量',
                    type: 'line',
                    stack: '总量',
                    label: {
                        normal: {
                            show: true,
                            position: 'top'
                        }
                    },
                    areaStyle: {},
                    data: [350, 450, 750, 800, 1290, 1330, 1320]
                }
            ]
        };
        echartsRecords.setOption(optionRecords);


        /**
         * 玫瑰图表
         */
        var echartsPies = echarts.init(document.getElementById('echarts-pies'), 'walden');
        var optionPies = {
            title: {
                text: '养老院数据',
                left: 'center'
            },
            tooltip: {
                trigger: 'item',
                formatter: '{a} <br/>{b} : {c} ({d}%)'
            },
            legend: {
                orient: 'vertical',
                left: 'left',
                data: ['床位已使用', '空床位', '入院老人数量', '出院老人数量', '入职员工数量']
            },
            series: [
                {
                    name: '数据来源',
                    type: 'pie',
                    radius: '55%',
                    center: ['50%', '60%'],
                    roseType: 'radius',
                    data: [
                        {value: 350, name: '床位已使用'},
                        {value: 200, name: '空床位'},
                        {value: 180, name: '入院老人数量'},
                        {value: 135, name: '出院老人数量'},
                        {value: 500, name: '入职员工数量'}
                    ],
                    emphasis: {
                        itemStyle: {
                            shadowBlur: 10,
                            shadowOffsetX: 0,
                            shadowColor: 'rgba(0, 0, 0, 0.5)'
                        }
                    }
                }
            ]
        };
        echartsPies.setOption(optionPies);

        // echarts 窗口缩放自适应
        window.onresize = function () {
            echartsRecords.resize();
        }

    });
</script>
</body>
</html>
